*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.top-bar {
    height: 40px;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.1));
    box-shadow: inset 0px -1px 0px #e6e9ed;
    background-color: #EDF1FF;
    display: flex;
    width: 100%;
    padding: 10px;
    z-index: 1;
    }

.top-bar .contact-info, .top-bar ul {
    font-size: 16px;
    color: #506a85;
    font-weight: 400;
    font-family: "Source Sans Pro";
    margin: 0 50px;
    }

.top-bar .contact-info li, .top-bar ul li {
    display: inline-block;
    margin-right: 10px;
    }

.top-bar .contact-icon {
    margin-right: 5px;
    }

.navbar {
    height: 110px;
    filter: drop-shadow(0px 1px 0px #e6e9ed);
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #506a85;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 85px; /* margin */
}
.navbar-logo img{
    height: 50px;
    width: 150px;
}
.pages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.pages ul li a{
    font-size: 17px;
    text-transform: uppercase;
    color: #506a85;
    font-weight: 700;
    font-family: "Source Sans Pro";
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}
.pages ul li a:hover {
    color: #ffd700;
}
#searchBtn {
    color: #506a85;
    font-size: 28px;
    cursor: pointer;
    margin-right: 50px; /* margin */
}

#home-body{
    height: 77vh;
    width: 100%;
    background-image: url('public/bgImg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

#home-content h1 {
    width: 970px;
    height: 80px;
    font-size: 58px;
    letter-spacing: 5px;
    line-height: 88px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    font-family: "Lato";
    text-align: center;
}

#home-content p {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 35px;
}

#home-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.15);
    background-color: #00bb9b;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: center;
    transition: transform 0.3s ease;
}
#home-content button:hover {
    transform: scale(1.1);
}

#body-item{
    height: 280px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#body-item h1{
    width: 800px;
    height: 60px;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 54px;
    color: #506a85;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}
#body-item #body-para{
    color: #506a85;
    font-family: "Lato";
    text-align: center;
    margin: 0 20vw;
}
#body-content{
    display: flex;
    margin-top: 50px;
    margin: 0 50px;
    padding: 30px;
}
#body-content i{
    font-size: 40px;
    margin-right: 15px;
    color: #00bc9c;
}
#body-content #bulb, #body-content #star{
    margin-left: 30px;
}

#body-content1, #body-content2, #body-content3{
    height: 240px;
    width: 300px;
}
#body-content1 h4, #body-content2 h4, #body-content3 h4{
    width: 270px;
    height: 30px;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #506a85;
    font-weight: 700;
    font-family: "Lato";
}
#body-content1 p, #body-content2 p, #body-content3 p{
    color: #506a85;
    font-family: "Lato";
}

#checkoutwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f7;
    margin-top: 20px;
    height: 560px;
    width: 100%;
}
#checkoutwork h2{
    width: 100vw;
    height: 50px;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 54px;
    color: #506a85;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    margin-bottom: 8px;
}
#checkoutwork p{
    color: #506a85;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
    margin-bottom: 35px;
}

#checkout-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

#checkout-content1, #checkout-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#checkout-content-header1 img, #checkout-content-header2 img {
    height: 260px;
    width: 300px;
    object-fit: cover;
}

#checkout-content-body1, #checkout-content-body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#clientMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

#clientMessage h1 {
    width: 800px;
    height: 60px;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 54px;
    color: #506a85;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}

#clientMessage p {
    font-family: "Lato";
    text-align: center;
    color: #506a85;
    font-size: 1rem;
    margin: 0 20vw;
}

#clientMessage button {
    font-size: 1rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: center;
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.15);
    background-color: #00bb9b;
    transition: transform 0.3s ease;
}
#clientMessage button:hover {
    transform: scale(1.1);
}

#home-footer{
    height: 447px;
    background-color: #2f3f51;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#home-footer #who-we-are,#home-footer #get-in-touch,#home-footer #free-update, #home-footer #latest-work{
    width: 400px;
    height: 249px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#home-footer #who-we-are h5,#home-footer #get-in-touch h5,#home-footer #free-update h5, #home-footer #latest-work h5{
    width: 270px;
    height: auto;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
}
#home-footer #who-we-are p,#home-footer #get-in-touch p,#home-footer #free-update p{
    font-family: "Lato";
    color: #506a85;
    font-size: 1rem;
}
#home-footer #who-we-are h1{
    color: #ffffff;
    font-weight: 700;
}
#home-footer #who-we-are a, #home-footer #get-in-touch a{
    color: #ffffff;
}
#home-footer #free-update button{
    width: 88px;
    height: 35px;
    color: #ffffff;
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0.15);
    background-color: #00bb9b;
}
#home-footer #free-update form{
    display: flex;
}
#home-footer #free-update input{
    height: 35px;
}
#menuBtn{
    color: #506a85;
    font-size: 50px;
    display: none;
}
#home-footer #latest-work .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}
#home-footer #latest-work .grid-item{
    width: 125px;
    height: 85px;
    background-color: #00bb9b;
}

#bottom-bar {
    width: 100%;
    height: 83px;
    background-color: #273545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

#bottom-bar #reserved {
    font-size: 14px;
    letter-spacing: 0px;
    margin-top: 20px;
    color: #707e8c;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

#bottom-bar #page-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#bottom-bar #page-item ul li {
    margin-right: 20px;
}

#bottom-bar #page-item ul li:last-child {
    margin-right: 0;
}

#bottom-bar #page-item ul li a {
    font-size: 16px;
    text-transform: none;
    color: #506a85;
    font-weight: 400;
    font-family: "Source Sans Pro";
    text-decoration: none;
}
#bottom-bar #scrolltop img{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    color: #506a85;
    cursor: pointer;
}





